.cookie-popup-box {
  background-color: #fff;
  bottom: 0;
  left: 0;
  margin: 20px;
  position: fixed;
  width: 400px;
  z-index: 999;
}

@media (max-width: 800px) {
  .cookie-popup-box {
    bottom: 1%;
    left: 1%;
    margin: 0 auto 0 auto;
    padding: 10px;
    right: 1%;
    width: 90%;
  }
}

.cookie-popup-top {}

.cookie-popup-header {}

.cookie-popup-text {}

.cookie-popup-link {}

.cookie-popup-middle {
  display: none;
}

.cookie-popup-row {}

.cookie-popup-row label {}

.cookie-popup-row p {}

.cookie-popup-checkbox {}

.cookie-popup-checkbox:checked {}

.cookie-popup-checkbox:disabled {}

.cookie-popup-bottom {}

.cookie-popup-btn-accept {}

.cookie-popup-btn-preferences {}

.cookie-popup-btn-preferences:disabled {}
